body{
  background-color: gainsboro
}
.main{
    background: linear-gradient( rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59) ), url(../img/gazeti.jpeg) fixed;
    background-size: cover;
    height:550px;
    margin:0px;
    padding:0px;
    width:100%;
}

.main{
  text-align: center;

}

.main h1{
  /* margin-top: 20%; */
  color: white;
  font-family: 'Bungee', cursive;
}

.main h4{
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

/* .skills{
  display: none;
} */

#me {
  text-align: center;
}

#me h3 {
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#me p {
  font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

#end {
  height: 60px;
  padding: 5px;
  background-color: rgba(0,0,0, 0.1);
}

#name {
  float: left;
  padding-left: 100px;
  padding-top: 22px;
  font-family: 'Anaheim', sans-serif;
  display: inline-block;
}

#social {
  float: right;
  padding-right: 200px;
  padding-top: 15px;

}

#social img {
  padding-left: 10px;
}

#cont1 {
  position: relative;
  width: 100%;
 }

 .image {
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
 }

 .overlay {
  position: absolute;
  top: 0.5px;
  bottom: 0;
  left: 15.2px;
  right: 0;
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: lightgrey;
  border-radius: 50%;
 }

 #cont1:hover .overlay {
  opacity: 1.5;
 }

 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 }

 #jumbo1{
  background-image: url("../img/polar_bear_by_fenguin-minimalist.jpg");
  background-position: center;
  background-repeat: no-repeat;
 }

   /* Make sure that padding behaves as expected */
  * {box-sizing: border-box}

  /* Container for skill bars */
  .container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }

  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }

  .html {width: 90%; background-color: #4CAF50;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .py {width: 65%; background-color: #f44336;} /* Red */
  .js {width: 60%; background-color: #808080;} /* Dark Grey */
