.main{
    background: linear-gradient( rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59) ), url(../img/lapikali.jpg) fixed;
    background-size: cover;
    height:550px;
    margin:0px;
    padding:0px;
    width:100%;
}

.main{
  text-align: center;
}

.main h1{
  /* margin-top: 20%; */
  color: white;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
}

.main h4{
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

/* .skills{
  display: none;
} */

#me {
  text-align: center;
}

#me h3 {
  font-size: 60px;
 font-family: 'Josefin Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#me p {
  font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

#end {
  height: 60px;
  padding: 5px;
  background-color: rgba(0,0,0, 0.1);
}

#name {
  float: left;
  padding-left: 100px;
  padding-top: 22px;
  font-family: 'Anaheim', sans-serif;
  display: inline-block;
}

#social {
  float: right;
  padding-right: 200px;
  padding-top: 15px;

}

#social img {
  padding-left: 10px;
}
